*.o
*.x
.host
just
mira
miralib/menudriver
miralib/preludx

# CMake
CMakeCache.txt
CMakeFiles/
build/
cmake_install.cmake
compile_commands.json

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# byacc
y.tab.*
